{% extends "skel.html" %}
{% block fg_content %}
<div id="main-content">
    <h1>{{ article.title }}</h1>
    <div id="article-subtitle">{{ article.date.strftime("%a %d %b %Y, %I:%M %p") }}</div>
    {{ article.content|safe }}
    <div id="userpanel">
    <form method="post" class="formbox">
        {{ form.hidden_tag() }}
        <p>
        {{ form.like() }} &nbsp;&nbsp;&nbsp;&nbsp; {{ form.readlater() }}
        </p>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
    </form>
    </div>
</div>
{% endblock %}
