{% extends "skel.html" %}

{% block fg_content %}
<div id="main-content">
    <form method="get" class="formbox">
        <p>{{ form.q.label }}</p>
        <p>{{ form.q() }}</p>
        {% for error in form.q.errors %}
            <p style="color: red;">[{{ error }}]</p>
        {% endfor %}
        <p>{{ form.sortby.label }}</p>
        <p>{{ form.sortby() }}</p>
        {% for error in form.sortby.errors %}
            <p style="color: red;">[{{ error }}]</p>
        {% endfor %}
    </form>

    <div id="search-results">
        <hr />
        {% if news %}
            {% for k in news %}
                <div class="news">
                    <div class="news-title"><a href="/article/{{ k.id }}">{{ k.title }}</a></div>
                    <div class="news-date">{{ k.date.strftime("%a %d %b %Y, %I:%M %p") }}</div>
                    <div class="news-brief">
                        {{ k.brief }}
                    </div>
                    <div class="news-footer"><span class="likes">Likes: {{ k.likes }}</span>&nbsp;<span class="tags">Tags: {{ k.tags }}</span></div>
                </div>
            {% endfor %}
        {% else %}
            <div style="text-align: center; margin-top: 20px; font-weight: bold;">Sorry, No articles match your query...</div>
        {% endif %}
    </div>
</div>
{% endblock %}
