{% extends "skel.html" %}

{% block fg_content %}
<div class="main-frontbanner">
    <div class="main-title">All the Buzz Around SMIT</div>
    <div class="main-subtitle">Now at your fingertips.</div>
</div>
<div id="main-content">
    {% if news %}
        <h1 style="margin: 10px 5px 5px 5px;">LATEST NEWS</h1>
        <hr class="titlebottom" />
        {% for k in news %}
            <div class="news">
                <div class="news-title"><a href="/article/{{ k.id }}">{{ k.title }}</a></div>
                <div class="news-date">{{ k.date.strftime("%a %d %b %Y, %I:%M %p") }}</div>
                <div class="news-brief">
                    {{ k.content|safe }}
                </div>
                {% if k.imageurl %}
                    <img class="news-image" src="{{ k.imageurl }}" />
                {% endif %}
                <div class="news-footer"><span class="likes">Likes: {{ k.likes }}</span>&nbsp;<span class="tags">Tags: {{ k.tags }}</span></div>
            </div>
        {% endfor %}
            <div class="morenews"><a href="/browse">More news...</a></div>
    {% else %}
        <b>No articles Available currently!</b>
    {% endif %}
</div>
{% endblock %}
