{% extends "skel.html" %}
{% block fg_content %}
<div class="centertitle">
Login
</div>
<div id="main-login" class="box center topmargin formbox">
    <form method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }}</p>
        <p>{{ form.username(size=32, class_="login") }}</p>
        <p>{{ form.password.label }}<br /></p>
        <p>{{ form.password(size=32, class_="login") }}</p>
        <p>{{ form.remember_me(class_="checkbox") }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class_ = "button") }}</p>
    </form>
</div>
{% endblock %}
