@font-face {
    font-family: sans;
    src: url(/assets/tanohe-sans/TanoheSans-Regular.ttf);
    font-style: normal;
}

@font-face {
    font-family: sans;
    src: url(/assets/tanohe-sans/TanoheSans-Italic.ttf);
    font-style: italic;
}

@font-face {
  font-family: sans;
  src: url(/assets/tanohe-sans/TanoheSans-SemiBold.ttf);
  font-weight: bold;
}

@font-face {
    font-family: sans;
    src: url(/assets/tanohe-sans/TanoheSans-SemiBoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    padding: 0;
    margin:0;
    font-family: sans;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 200px;
    /* bottom = footer height */
}

#main-fg {
    min-height: 400px;
    height: 100%;
}

#main-topbar {
    background: #1B72FF;
    position: fixed;
    top:0;
    padding: 0;
    width:100%;
    color:#F8F8F8;
    font-family:sans;
    font-size:19px;
    font-weight:bold;
    z-index:100;
    max-height:45px;
    overflow:hidden;
}

#main-topbar * {
    vertical-align: middle;
    display: inline-block;
}

#main-logo {
    margin-top: -3px;
}

#main-nav-list {
    display: inline;
    margin: 0;
    padding: 0;
}

#main-nav-list li {
    padding: 10px 10px 10px 10px;
    min-height: 100%;
}

#main-nav-list li:hover {
    background-color: #0055D0;
}

#main-search {
    margin: 0 10px 0 10px;
    float:right;
}

#main-searchbar {
    border: 2px solid #31B5FF;
    background:#0072D4;
    border-radius: 4px;
    color: #F8F8F8;
    padding: 2px 2px 2px 2px;
    font-family: sans;
}

#main-searchbar::selection {
    background: #004489;
}
#main-searchbar::-moz-selection {
    background: #004489;
}

#main-searchbar-submit {
    background: url(/assets/search.svg) no-repeat;
    background-size:cover;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    color: rgba(0, 0, 0, 0);
    width:20px;
    height:20px;
    margin-left: 5px;
}

#main-menubutton-container {
    float:right;
}

#main-menubutton {
    width:25px;
    height:25px;
    background:url(/assets/burger.svg) no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
}

#main-menu {
    position:fixed;
    right:-320px;
    top: 40px;
    background: #002E88;
    color: #F4F4F4;
    padding: 5px 5px 5px 5px;
    min-width: 200px;
    z-index:50;
    transition: right 0.5s;
}

#main-menu-contents {
    list-style-type: none;
    text-align: right;
    margin: 20px 10px 10px 10px;
}
#main-menu-contents li {
    margin: 10px 0 10px 0;
}

div.padding {
    height: 40px;
}

div.main-frontbanner {
    background: url(/assets/smit.webp) no-repeat;
    margin:0;
    background-size:cover;
    font-size: 60px;
    padding-top: 20px;
    text-align: center;
    color: white;
    background-attachment: fixed;
    background-position: center;
    height: 300px;
    text-shadow: 1px 1px 3px black;
}

div.main-title {
    margin-top:40px;
    font-weight:bold;
}

#main-content {
    padding: 10px 10px 10px 10px;
    width: 80%;
    margin: auto;
}

#main-footer {
    background-color: #1B1B1B;
    color: #F4F4F4;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    padding: 20px 20px 20px 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100vw;
    overflow: hidden;
}

 a {
    color: #30A4FF;
    text-decoration:none;
}

a:visited {
    color: #D32DFF;
}

.centertitle {
    text-align: center;
    font-size: 50px;
    text-decoration: bold;
    margin: 20px 20px 20px 20px;
    font-weight: bold;
}

.centerbox {
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16), 0 0 0 2px rgba(0, 0, 0, 0.08);
    border: 1px solid grey;
    margin:30px auto auto auto;
    width: 400px;
}

.formbox {

}

.formbox p {
    margin:20px 10px 10px 10px
}

.formbox p input[type=text], .formbox p input[type=password] {
    font-family:sans;
    font-size:14px;
    width:95%;
    border-radius: 2px;
    border: 1px solid #C1C1C1;
    min-height:25px;
    padding:4px 4px 4px 4px;
}

.formbox p input[type=submit] {
    margin-top: 10px;
    font-size:16px;
}

.formbox p input[type=button], .formbox p input[type=submit] {
    background-color:white;
    border-radius: 2px;
    font-family: sans;
    border: 1px solid #CBCBCB;
    padding: 5px 5px 5px 5px;
    
}

.formbox p input[type=button]:active, .formbox p input[type=submit]:active {
    background-color:#BEBEBE;
}

.formbox p input[type=button]:hover, .formbox p input[type=button]:hover {
    color:#26ACD9;
}

.formbox p input[type=checkbox]: {
    border: 1px solid black;
    background: white;
    border-radius: 2px;
}

.news {
    padding: 5px 5px 20px 5px;
}

.news-title {
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0 10px 0;
}

.news-title a {
    color: black;
}

.news-date {
    font-style: italic;
    color: #999999;
    font-size: 12px;
}

.news-brief {
    margin: 20px 0 0 10px;
}

.news-footer span {
    display: inline-block;
    margin: 10px 10px 10px 10px;
}

.news-footer span.likes {
    color:#C20041;
}

.morenews {
    margin-bottom: 30px;
    font-weight: bold;
}

table, th, td{
    width:100%;
    vertical-align: center;
    margin: 3px 3px 3px 3px;
}



@media screen and (max-width: 800px) {
    #main-content {
        width: 95%;
    }
    #main-search {
        display: none;
    }
    div.main-frontbanner {
        font-size: 40px;
    }
    #main-nav-list li.main-nav-button {
        display:none;
    }
    .formbox {
        width: 98%;
        border: none;
        box-shadow: none;
    }
    .formbox p input[type=text], .formbox p input[type=password] {
        width:90%
    }
}
